body {
	background-color:#ebede9;
	overflow:hidden;
	margin:0;
	font-family:"MS Gothic", "Courier New", monospace;
}
#reader {
	position:fixed;
	bottom:0;
	right:20px;
	
	text-align:right;
}
#container {
	width:100vw;
	height:100vh;
	
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
#bobber {
	display:none;
	position:fixed;
	top: calc(50% - 210px);
	left: calc(50% - 160px);
}
#text {
	font-size:1.22em;
	max-width:400px;
	text-align:center;
	
	/*Experimental styling.*/
	padding-left:18px;
	padding-right:18px;
	border-radius:20px;
	box-shadow:0 2px 3px grey inset;
}
#buttons button {
	width:50%;
	margin:4px;
	font-family:"MS Gothic", "Courier New", monospace;
	font-weight:bold;
	padding:10px;
}
.highlight {
	color: #04d;
	font-weight: bold;
	transition: all 1s ease-in;
}
.highlight:hover {
	text-shadow: 0 0 10px #04d;
}